# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# Secondary repo maintainers, substitutes of the primary
# maintainers when they become MIA
*      

# Primary repo maintainers
*       @VigM-Figure