@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

#wcjs-qr-modal {
  top: 0;
  left: 0;
  position: fixed;
  font-family: "Poppins",sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: #444444;
  z-index: 1000;
  font-weight: 400;
  letter-spacing: 0.4px;
}
.wcjs-qr-appicongroup {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
}
.wcjs-qr-appicon {
  margin: 0 6px;
}
.wcjs-qr-close {
  background: #ffffff;
  height: 24px;
  width: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wcjs-qr-content {
  width: 400px;
  transition: 1s all;
  position: relative;
  border-radius: 10px;
  background: #eeeeee;
  padding: 40px;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25);
}
.wcjs-qr-copy {
  font-size: 10px;
  margin: 4px 28px 18px auto;
  border: 1px solid #666666;
  border-radius: 3px;
  cursor: pointer;
  padding: 0 6px;
}
.wcjs-qr-icon {
  background: #ffffff;
  border-radius: 4px;
  height: 30px;
  width: 30px;
  margin-right: 20px;
  padding: 4px;
}
.wcjs-qr-img {
  flex-basis: 100%;
}
.wcjs-qr-appicon-element {
  display: inline;
  height: 42px;
  margin-top: 10px;
}
.wcjs-qr-img-element {
  display: inline;
  margin-top: 10px;
  padding:18px;
  background: #FFFFFF;
  border-radius: 10px;
}
.wcjs-qr-reload {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #eeeeee;
  padding: 60px 40px 40px 40px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.wcjs-qr-reload-button {
  margin-top: 6px;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #aaaaaa;
  background: white;
}
.wcjs-qr-reload-text {
  margin-bottom: 34px;
}
.wcjs-qr-row {
  display: flex;
  align-items: center;
  margin-top: 10px;
  flex-basis: 100%;
  color: #333333;
  border-radius: 4px;
  padding: 10px 18px;
  transition: 500ms all;
  text-align: left;
}
.wcjs-qr-row:hover {
  background: #ffffff;
}
.wcjs-qr-row-nonlink {
  display: flex;
  align-items: center;
  margin-top: 10px;
  flex-basis: 100%;
  color: #333333;
  border-radius: 4px;
  padding: 10px 18px;
  transition: 500ms all;
  text-align: left;
  cursor: pointer;
}
.wcjs-qr-row-nonlink-input {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #aaaaaa;
  color: #444444;
}
.wcjs-qr-row-nonlink:hover {
  background: #ffffff;
}
.wcjs-qr-text {
  font-size: 15px;
  margin: 0;
  font-weight: 400;
  letter-spacing: 0.4px;
  width: 100%;
}
.wcjs-qr-text-link {
  color: #5588DD;
  cursor: pointer;
}
.wcjs-qr-title {
  font-weight: 900;
  user-select: none;
  font-size: 16px;
}
.wcjs-qr-toggle {
  padding: 4px;
  border-radius: 5px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #dddddd;
  margin-bottom: 20px;
}
.wcjs-qr-notch {
  color: #5588dd;
  transition: 500ms all;
  padding: 4px 10px;
  font-weight: 700;
  flex-basis: 50%;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  user-select: none;
  line-height: 18.4px;
}
.wcjs-qr-notch-active {
  background: #FFFFFF;
}


/* export const QRCodeModalContainer = styled.div
export const QRModalContent = styled.div
export const CloseQRModal = styled.div
export const Toggle = styled.div
export const ToggleNotch = styled.div
export const Text = styled.p
export const CopyButton = styled.button
export const ImgContainer = styled.div
export const WalletRow = styled.a
export const WalletRowNonLink = styled.div
export const WalletTitle = styled.div
export const WalletIcon = styled.img
export const AppStoreIcons = styled.div
export const AppIcon = styled.a
export const ReloadNotice = styled.div */
