@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

html {
  font-family: Montserrat, georgia, serif;
  font-size: 62.5%; /* =10px and will allow for all rem sizing to be easier, 1.4 rem => 14px*/
  color: #30323f;
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
}
html,
*,
::after,
::before {
  box-sizing: border-box;
}
div {
  box-sizing: border-box;
}
body {
  font-size: 10px;
  letter-spacing: 0.045rem;
  height: 100%;
  position: relative;
  background: #222222;
  background-repeat: no-repeat;
  background-image: url("/public/img/header-bg.webp");
  line-height: 2rem;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}
a {
  color: #3f80f3;
  text-decoration: none;
}
p {
  margin: 0;
}
